{% extends 'base.html.twig' %}

{% block title %} No entry {% endblock %}

{% block body %}
 No entry found in database.
 <br>
 <a href="/blog">Index</a>
 <br>
 <a href="/new">New post</a>
{% endblock %}

